USE [formulario]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/11/2024 9:04:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreU] [nvarchar](59) NULL,
	[apellido] [nvarchar](59) NULL,
	[nombreG] [nvarchar](59) NULL,
	[correoU] [nvarchar](59) NULL,
	[correoG] [nvarchar](59) NULL,
	[telefono] [int] NULL,
	[fechaI] [date] NULL,
	[fechaF] [date] NULL,
	[licencia] [text] NULL,
	[notas] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [nombreU], [apellido], [nombreG], [correoU], [correoG], [telefono], [fechaI], [fechaF], [licencia], [notas]) VALUES (1, N'string', N'string', N'string', N'string', N'string', 0, CAST(N'2024-11-16' AS Date), CAST(N'2024-11-16' AS Date), N'string', N'string')
INSERT [dbo].[Users] ([id], [nombreU], [apellido], [nombreG], [correoU], [correoG], [telefono], [fechaI], [fechaF], [licencia], [notas]) VALUES (2, N'string', N'string', N'string', N'string', N'string', 0, CAST(N'2024-11-16' AS Date), CAST(N'2024-11-16' AS Date), N'string', N'string')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
