<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app angular</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  </head>
  <body class="html"></body>
  <br>
  <br>
  <h2>Ventas de celulares</h2>
  <br>
<p>Los mejores celulares al mejor precio :3</p>
<p class="uno">Buenos, bonitos y baratos</p>

<ul>
  <li><a href="https://www.instagram.com/by_daniel_trujillo/" target="_blank">Instagram del creador:</a></li>
  <li><a href="https://www.youtube.com/" target="_blank">youtube</a></li>
  <li><a href="https://github.com/DanielTrujillo5/DanielTrujillo222034031/tree/CGPracticas" target="_blank">github</a></li>
</ul>
<br>
<br>
<table>
  <tr>
    <th>Producto</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone 16</td>
    <td>12</td>
    <td>$5.000.000</td>
  </tr>
  <tr>
    <td>Xiaomi 12 C</td>
    <td>30</td>
    <td>$500.000</td>
  </tr>
  <tr>
    <td>Huawei Y1</td>
    <td>2</td>
    <td>$1.000.000</td>
  </tr>
</table>

<br>
<br>
<br>
<br>

<body> 
  <div class="contenedor">
    <div class="header">
        <div class="logo">
          <p></p>
        </div>
        <div class="buscador">
          <p>buscador</p>
        </div>
    </div>
    <div class=main>
      <div class=side-bar>side-bar</div>
      <div class=content>cont</div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <p>Pasto</p>
        </div>
        <div class="footer-2">
            <p>Medellin</p>
        </div>
        <div class="footer-3">
            <p>Bogota</p>
        </div>
    </div>
  </div>
  
    
</body>
  

<br>
<br>
<router-outlet />
